<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg headroom py-lg-3 px-lg-6 @@classes">
    <div class="container">
      <div class="navbar-collapse collapse justify-content-between" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <h1>Science Net</h1>
          </div>
        </div>
        <h1>Science Net</h1>
        <ul class="navbar-nav navbar-nav-hover justify-content-center align-items-center">
          <li class="nav-item">
            <input type="search" class="form-control" placeholder="Pesquisar" aria-label="Campo de pesquisa">
          </li>
          <li class="nav-item">
            <a href="/index.html" class="nav-link">Início</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" aria-label="Toggle pages menu item">
              <span class="nav-link-inner-text">Publicações</span>
              <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="@@path/html/pages/publications.html">Todas</a></li>
              <li><a class="dropdown-item" href="@@path/html/pages/contact.html">Editais</a></li>
              <li><a class="dropdown-item" href="#">Pricing</a></li>
              <li><a class="dropdown-item" href="#">Contact</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0" data-bs-toggle="tab" href="#"><span class="icon-secondary"><span class="far fa-user-circle me-2"><span class="far fa-user-circle me-2"></span>Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
